<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
    
</h1>
<div class="col-md-8">
    <label>location:</label>
    <%= @user.area %>
    <br />
    <label>message:</label>
    <br />
    <%= @user.profmessage %>
    <% if current_user == @user %>
        <br />
        <%= link_to "edit" , edit_user_path(@user), class: "label label-info" %>
    <% end %>
</div>